h1{
  text-align: center;
}

.example{
  margin: 40px auto;
  width: 50%;
}

pri-scrollbar{
  border: 1px solid black;
  height: 300px;
}

.dummy-content{
  min-width: 150vw;
  min-height: 150vh;
  padding: 20px 10px;
  &.d-1{
    background-color: azure;
  }
  &.d-2{
    background-color: yellow;
  }
  &.d-3{
    background-color: lightpink;
  }
  &.d-4{
    background-color: rgba(brown, 0.1);
  }
  &.d-5{
    background-color: #FFF;
  }
}

/deep/ pri-scrollbar.custom-size{
  .pri-scrollbar-vertical {
    width: 20px !important;
  }
  .pri-scrollbar-horizontal {
    height: 40px !important;
  }
  .pri-scrollbar-thumb {
    border-radius: (20 / 2) !important;
    background-color: lime !important;
  }
}
