<mat-toolbar id="header" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
  <!--title-->
  <a id="title" mat-button routerLink="/">
    <div fxLayout="row" fxLayoutGap=".3em" fxLayoutAlign="center center">
      <mat-icon svgIcon="brand"></mat-icon>
      <h1>pri-ng-scrollbar</h1>
    </div>
  </a>
  <!--documentation-->
  <a mat-button fxHide.lt-sm href="https://www.npmjs.com/package/pri-ng-scrollbar" target="_blank">Documentation</a>
  <!--development-->
  <a mat-button fxHide.lt-sm routerLink="/development" *ngIf="!isProduction">Development</a>
  <!--dummy placeholder-->
  <div fxFlex="1 1 auto"></div>
  <!--npm-->
  <a mat-button fxHide.lt-sm href="https://www.npmjs.com/package/pri-ng-scrollbar" target="_blank">
    <mat-icon svgIcon="npm" inline="true" style="height: 35px; width: 35px;"></mat-icon>
  </a>
  <!--github-->
  <a mat-button fxHide.lt-sm href="https://github.com/Priemar/pri-ng-scrollbar" target="_blank">
    <mat-icon svgIcon="github"></mat-icon>
    <span>Github</span>
  </a>
</mat-toolbar>

<!--content-->
<section id="main-content">
  <pri-scrollbar overflowX="hidden">
    <router-outlet></router-outlet>
  </pri-scrollbar>
</section>
